[run]
branch = True
concurrency = multiprocessing

omit =
    # exporting utilities only use to generate data
    # once in while
    luafun/exporter/*
    # debug layer
    luafun/game/inspect/*
    # misc utilities
    luafun/utils/*
