build/
cpputils/
dependencies/
*.pyc
__pycache__
.idea/
out_dire.txt
out_radiant.txt
console.log
console-*.log
IPC_recv.lua
console.log*
luafun.egg-info/
.vscode/
exported.json
*~
ipc.lua
config.json
_build/
.coverage*
coverage.xml
decode_error/decode.txt
console.*.log
bots.so
botcpp_dire.so
botcpp_radiant.so
*.pb.h
*.pb.cc
bots/
.codecov
botscpp/rev/*
decode*.txt
luafun/plots/geckodriver.log
tests/resources/replay.txt
replay*.txt

.ipynb_checkpoints/
*.json
