
<div id="nav">
    {% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">LuaFun</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>

                    <!--  Radiant -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="raddrop" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Radiant
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/state/radiant/0">Player 1</a></li>
                            <li><a class="dropdown-item" href="/state/radiant/1">Player 2</a></li>
                            <li><a class="dropdown-item" href="/state/radiant/2">Player 3</a></li>
                            <li><a class="dropdown-item" href="/state/radiant/3">Player 4</a></li>
                            <li><a class="dropdown-item" href="/state/radiant/4">Player 5</a></li>
                        </ul>
                    </li>

                    <!--  Dire -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="diredrop" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dire
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/state/dire/5">Player 6</a></li>
                            <li><a class="dropdown-item" href="/state/dire/6">Player 7</a></li>
                            <li><a class="dropdown-item" href="/state/dire/7">Player 8</a></li>
                            <li><a class="dropdown-item" href="/state/dire/8">Player 9</a></li>
                            <li><a class="dropdown-item" href="/state/dire/9">Player 10</a></li>
                        </ul>
                    </li>

                    <li class="nav-item"> <a class="btn btn-danger" href="/action/stop" role="button">Stop</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}
</div>
<div id="content" class="container-fluid">
    {% block content %}
        {{ body }}
    {% endblock %}
</div>
<div id="footer">
    {% block footer %}
    {% endblock %}
</div>
