{% extends "base.html" %}


{% block content %}

<div>
<table class="table">
    <tr>
        <th>Draft</th>
    </tr>
    <tr>
        <td>
            <table>
                <thead>
                    <tr>
                        <td>Faction</td>

                        <td>Pick 1</td>
                        <td>Pick 2</td>
                        <td>Pick 3</td>
                        <td>Pick 4</td>
                        <td>Pick 5</td>

                        <td>Ban 1</td>
                        <td>Ban 2</td>
                        <td>Ban 3</td>
                        <td>Ban 4</td>
                        <td>Ban 5</td>
                        <td>Ban 6</td>
                        <td>Ban 7</td>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Radiant</th>
                        <td><a class="btn btn-secondary" href="/draft/2/select/npc_dota_hero_antimage">Select AM</a></td>
                        <td><a class="btn btn-secondary" href="/draft/2/select/npc_dota_hero_axe">Select Axe</a></td>
                        <td><a class="btn btn-secondary" href="/draft/2/select/npc_dota_hero_bane">Select Bane</a></td>
                        <td><a class="btn btn-secondary" href="/draft/2/select/npc_dota_hero_bloodseeker">Select BloodSeeker</a></td>
                        <td><a class="btn btn-secondary" href="/draft/2/select/npc_dota_hero_invoker">Select Invoker</a></td>

                        <td><a class="btn btn-secondary" href="/draft/2/ban/npc_dota_hero_centaur">Ban Centaur</a></td>
                        <td><a class="btn btn-secondary" href="/draft/2/ban/npc_dota_hero_crystal_maiden">Ban CM</a></td>
                        <td><a class="btn btn-secondary" href="/draft/2/ban/npc_dota_hero_puck">Ban Puck</a></td>
                        <td><a class="btn btn-secondary" href="/draft/2/ban/npc_dota_hero_pudge">Ban Pudge</a></td>
                        <td><a class="btn btn-secondary" href="/draft/2/ban/npc_dota_hero_razor">Ban Razor</a></td>
                        <td><a class="btn btn-secondary" href="/draft/2/ban/npc_dota_hero_sand_king">Ban SK</a></td>
                        <td><a class="btn btn-secondary" href="/draft/2/ban/npc_dota_hero_storm_spirit">Ban Storn</a></td>
                    </tr>
                    <tr>
                        <th>Dire</th>
                        <td><a class="btn btn-secondary" href="/draft/3/select/npc_dota_hero_drow_ranger">Select Drow</a></td>
                        <td><a class="btn btn-secondary" href="/draft/3/select/npc_dota_hero_earthshaker">Select Shaker</a></td>
                        <td><a class="btn btn-secondary" href="/draft/3/select/npc_dota_hero_juggernaut">Select Jug</a></td>
                        <td><a class="btn btn-secondary" href="/draft/3/select/npc_dota_hero_mirana">Select Mirana</a></td>
                        <td><a class="btn btn-secondary" href="/draft/3/select/npc_dota_hero_nevermore">Select SF</a></td>

                        <td><a class="btn btn-secondary" href="/draft/3/ban/npc_dota_hero_morphling">Ban Morph</a></td>
                        <td><a class="btn btn-secondary" href="/draft/3/ban/npc_dota_hero_phantom_lancer">Ban PL</a></td>
                        <td><a class="btn btn-secondary" href="/draft/2/ban/npc_dota_hero_sven">Ban Sven</a></td>
                        <td><a class="btn btn-secondary" href="/draft/2/ban/npc_dota_hero_tiny">Ban Tiny</a></td>
                        <td><a class="btn btn-secondary" href="/draft/2/ban/npc_dota_hero_vengefulspirit">Ban VS</a></td>
                        <td><a class="btn btn-secondary" href="/draft/2/ban/npc_dota_hero_windrunner">Ban WR</a></td>
                        <td><a class="btn btn-secondary" href="/draft/2/ban/npc_dota_hero_zuus">Ban Zeus</a></td>
                    </tr>
                    </tr>
                </tbody>
            </table>

        </td>
    </tr>
</table>
</div>

<div>

</div>
<!--         <th>Draft State</th> -->
            <pre>
                {{ code|safe }}
            </pre>
{% endblock %}
