{% extends "base.html" %}


{% block content %}

<table class="table">
    <tr>
        <th>Raw State</th>
        <th>Actions</th>
    </tr>
    <tr>
        <td>
            <pre>
                {{ code|safe }}
            </pre>
        </td>
        <td>
            <h1>Actions</h1>
            <ul>
                <li><a class="btn btn-secondary" href="/action/MoveToLocation/{{player}}/0x0">MoveToLocation</a></li>
                <li><a class="btn btn-secondary" href="/action/MoveDirectly/{{player}}/0x0">MoveDirectly</a></li>
                <li><a class="btn btn-secondary" href="/action/AttackMove/{{player}}/0x0">AttackMove</a></li>
                <li><a class="btn btn-secondary" href="/action/CourierTransfert/{{player}}">CourierTransfert</a></li>
                <li><a class="btn btn-secondary" href="/action/CourierTakeStash/{{player}}">CourierTakeStash</a></li>
                <li><a class="btn btn-secondary" href="/action/CourierSecret/{{player}}">CourierSecret</a></li>
                <li><a class="btn btn-secondary" href="/action/CourierReturn/{{player}}">CourierReturn</a></li>
                <li><a class="btn btn-secondary" href="/action/CourierBurst/{{player}}">CourierBurst</a></li>
                <!--li><a class="btn btn-secondary" href="/action/TakeOutpost">TakeOutpost</a></li-->
                <li><a class="btn btn-secondary" href="/action/Glyph/{{player}}">Glyph</a></li>
                <li><a class="btn btn-secondary" href="/action/Buyback/{{player}}">Buyback</a></li>
            </ul>

            <h1>Items</h1>
            <table class="table">
                <tr>
                    <td><a class="btn btn-secondary" href="/action/UseAbility/{{player}}/0/0x0">Item1</a></td>
                    <td><a class="btn btn-secondary" href="/action/UseAbility/{{player}}/1">Item2</a></td>
                    <td><a class="btn btn-secondary" href="/action/UseAbility/{{player}}/2">Item3</a></td>
                    <td><a class="btn btn-secondary" href="/action/UseAbility/{{player}}/6">TP</a></td>
                </tr>
                <tr>
                    <td><a class="btn btn-secondary" href="/action/UseAbility/{{player}}/3">Item4</a></td>
                    <td><a class="btn btn-secondary" href="/action/UseAbility/{{player}}/4">Item5</a></td>
                    <td><a class="btn btn-secondary" href="/action/UseAbility/{{player}}/5">Item6</a></td>
                    <td><a class="btn btn-secondary" href="/action/UseAbility/{{player}}/7">Neutral</a></td>
                </tr>
                <tr>
                    <td>BB1</td>
                    <td>BB2</td>
                    <td>BB3</td>
                    <td></td>
                </tr>
            </table>

            <h1>Abilities</h1>
            <table class="table">
                <tr>
                    <td>Use Ability</td>
                    <td><a class="btn btn-secondary" href="/action/UseAbility/{{player}}/16">Q</a></td>
                    <td><a class="btn btn-secondary" href="/action/UseAbility/{{player}}/17">W</a></td>
                    <td><a class="btn btn-secondary" href="/action/UseAbility/{{player}}/18">E</a></td>
                    <td><a class="btn btn-secondary" href="/action/UseAbility/{{player}}/19">D</a></td>
                    <td><a class="btn btn-secondary" href="/action/UseAbility/{{player}}/20">F</a></td>
                    <td><a class="btn btn-secondary" href="/action/UseAbility/{{player}}/21">R</a></td>
                </tr>
                <tr>
                    <td>Level Ability</td>
                    <td><a class="btn btn-secondary" href="/action/LevelAbility/{{player}}/16">Q</a></td>
                    <td><a class="btn btn-secondary" href="/action/LevelAbility/{{player}}/17">W</a></td>
                    <td><a class="btn btn-secondary" href="/action/LevelAbility/{{player}}/18">E</a></td>
                    <td><a class="btn btn-secondary" href="/action/LevelAbility/{{player}}/19">D</a></td>
                    <td><a class="btn btn-secondary" href="/action/LevelAbility/{{player}}/20">F</a></td>
                    <td><a class="btn btn-secondary" href="/action/LevelAbility/{{player}}/21">R</a></td>
                </tr>
                <tr>
                    <td>Talent</td>
                    <td><a class="btn btn-secondary" href="/action/LevelAbility/{{player}}/24">T1</a></td>
                    <td><a class="btn btn-secondary" href="/action/LevelAbility/{{player}}/25">T2</a></td>
                    <td><a class="btn btn-secondary" href="/action/LevelAbility/{{player}}/26">T3</a></td>
                    <td><a class="btn btn-secondary" href="/action/LevelAbility/{{player}}/27">T4</a></td>
                    <td><a class="btn btn-secondary" href="/action/LevelAbility/{{player}}/28">T5</a></td>
                    <td><a class="btn btn-secondary" href="/action/LevelAbility/{{player}}/29">T6</a></td>
                    <td><a class="btn btn-secondary" href="/action/LevelAbility/{{player}}/30">T7</a></td>
                    <td><a class="btn btn-secondary" href="/action/LevelAbility/{{player}}/31">T8</a></td>
                </tr>
            </table>
        </td>
    </tr>
</table>



{% endblock %}
