{% extends "base.html" %}


{% block content %}

<table class="table">
    <tr>
        <th>Raw State</th>
        <th>Actions</th>
    </tr>
    <tr>
        <td>
            <pre>
                {{ code|safe }}
            </pre>
        </td>
        <td>
            <h4>Actions</h4>

            <table class="table">
                <tr>
                    <!--
                        "name": #DOTA_OutpostName_South
                        "location": {
                            "x": 2549.722,
                            "y": -4238.76,
                            "z": 256.0
                        },

                        "name": "#DOTA_OutpostName_North",
                        "location": {
                            "x": -1941.7216,
                            "y": 4542.76,
                            "z": 256.0
                        },

                        Neutral Camp:
                            1. http://localhost:5000/action/AttackMove/3/-283.50x-3411
                            2. http://localhost:5000/action/AttackMove/3/-79.27x-2072.94
                    -->
                    <th>Movement</th>
                    <td><a class="btn btn-secondary" href="/action/MoveToLocation/{{player}}/0x0">MoveToLocation</a></td>
                    <td><a class="btn btn-secondary" href="/action/MoveDirectly/{{player}}/0x0">MoveDirectly</a></td>
                    <td><a class="btn btn-secondary" href="/action/MoveToUnit/{{player}}/96">MoveToUnit</a></td>
                    <td><a class="btn btn-secondary" href="/action/AttackMove/{{player}}/8000x8000">AttackMove</a></td>
                    <td><a class="btn btn-secondary" href="/action/AttackUnit/{{player}}/96">AttackUnit</a></td>
                    <td><a class="btn btn-secondary" href="/action/Stop/{{player}}">Stop</a></td>
                </tr>
                <tr>
                    <th>Courier</th>
                    <td><a class="btn btn-secondary" href="/action/CourierTransfert/{{player}}">CourierTransfert</a></td>
                    <td><a class="btn btn-secondary" href="/action/CourierTakeStash/{{player}}">CourierTakeStash</a></td>
                    <td><a class="btn btn-secondary" href="/action/CourierSecret/{{player}}">CourierSecret</a></td>
                    <td><a class="btn btn-secondary" href="/action/CourierReturn/{{player}}">CourierReturn</a></td>
                    <td><a class="btn btn-secondary" href="/action/CourierBurst/{{player}}">CourierBurst</a></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Others</th>
                    <td><a class="btn btn-secondary" href="/action/Glyph/{{player}}">Glyph</a></td>
                    <td><a class="btn btn-secondary" href="/action/Buyback/{{player}}">Buyback</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>

            <h4>Items</h4>
            <table class="table">
                <tr>
                    <th>Inventory</th>
                    <td><a class="btn btn-secondary" href="/action/UseAbility/{{player}}/0">Item1</a></td>
                    <td><a class="btn btn-secondary" href="/action/UseAbility/{{player}}/1">Item2</a></td>
                    <td><a class="btn btn-secondary" href="/action/UseAbility/{{player}}/2">Item3</a></td>
                    <td><a class="btn btn-secondary" href="/action/UseAbility/{{player}}/3">Item4</a></td>
                    <td><a class="btn btn-secondary" href="/action/UseAbility/{{player}}/4">Item5</a></td>
                    <td><a class="btn btn-secondary" href="/action/UseAbility/{{player}}/5">Item6</a></td>
                </tr>
                <tr>
                    <th></th> <!-- This test moving main inventory item to backpack -->
                    <td><a class="btn btn-secondary" href="/action/SwapItems/{{player}}/0/6">Backpack1</a></td>
                    <td><a class="btn btn-secondary" href="/action/SwapItems/{{player}}/0/7">Backpack2</a></td>
                    <td><a class="btn btn-secondary" href="/action/SwapItems/{{player}}/0/8">Backpack3</a></td>
                    <td></td>
                    <td><a class="btn btn-secondary" href="/action/UseAbility/{{player}}/15">TP</a></td>
                    <td><a class="btn btn-secondary" href="/action/UseAbility/{{player}}/16">Neutral</a></td>
                </tr>
                <!-- use tango: http://localhost:5000/action/UseAbilityOnTree/0/1/10 -->
                <tr>
                    <th>Stash</th> <!-- This test moving main inventory item to stash -->
                    <td><a class="btn btn-secondary" href="/action/SwapItems/{{player}}/0/9">S1</a></td>
                    <td><a class="btn btn-secondary" href="/action/SwapItems/{{player}}/0/10">S2</a></td>
                    <td><a class="btn btn-secondary" href="/action/SwapItems/{{player}}/0/11">S3</a></td>
                    <td><a class="btn btn-secondary" href="/action/SwapItems/{{player}}/0/12">S4</a></td>
                    <td><a class="btn btn-secondary" href="/action/SwapItems/{{player}}/0/13">S5</a></td>
                    <td><a class="btn btn-secondary" href="/action/SwapItems/{{player}}/0/14">S6</a></td>
                </tr>
                <tr>
                    <th>Buy</th>
                    <td><a class="btn btn-secondary" href="/action/PurchaseItem/{{player}}/item_tango">Tango</a></td>
                    <td><a class="btn btn-secondary" href="/action/PurchaseItem/{{player}}/item_slippers">Agility Slippers</a></td>
                    <td><a class="btn btn-secondary" href="/action/PurchaseItem/{{player}}/item_circlet">Circlet</a></td>
                    <td><a class="btn btn-secondary" href="/action/PurchaseItem/{{player}}/item_quelling_blade">Quelling Blade</a></td>
                    <td><a class="btn btn-secondary" href="/action/PurchaseItem/{{player}}/item_faerie_fire">Faerie Fire</a></td>
                    <td><a class="btn btn-secondary" href="/action/PurchaseItem/{{player}}/item_gauntlets">Gauntlets</a></td>
                </tr>
                <tr>
                    <th>Item Action</th> <!-- This test moving main inventory item to stash -->
                    <td><a class="btn btn-secondary" href="/action/DropItem/{{player}}/0/-6600x-6600">DropItem</a></td>
                    <td><a class="btn btn-secondary" href="/action/PickUpItem/{{player}}/234">PickUpItem</a></td>
                    <td><a class="btn btn-secondary" href="/action/SellItem/{{player}}/0">SellItem</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>

            <h4>Abilities</h4>
            <table class="table">
                <tr>
                    <th>Use Ability</th>
                    <td><a class="btn btn-secondary" href="/action/UseAbility/{{player}}/16">Q</a></td>
                    <td><a class="btn btn-secondary" href="/action/UseAbility/{{player}}/17">W</a></td>
                    <td><a class="btn btn-secondary" href="/action/UseAbility/{{player}}/18">E</a></td>
                    <td><a class="btn btn-secondary" href="/action/UseAbility/{{player}}/19">D</a></td>
                    <td><a class="btn btn-secondary" href="/action/UseAbility/{{player}}/20">F</a></td>
                    <td><a class="btn btn-secondary" href="/action/UseAbility/{{player}}/21">R</a></td>
                </tr>
                <tr>
                    <th>Use Ability On Location</th>
                    <td><a class="btn btn-secondary" href="/action/UseAbilityOnLocation/{{player}}/16/0x0">Q</a></td>
                    <td><a class="btn btn-secondary" href="/action/UseAbilityOnLocation/{{player}}/17/0x0">W</a></td>
                    <td><a class="btn btn-secondary" href="/action/UseAbilityOnLocation/{{player}}/18/0x0">E</a></td>
                    <td><a class="btn btn-secondary" href="/action/UseAbilityOnLocation/{{player}}/19/0x0">D</a></td>
                    <td><a class="btn btn-secondary" href="/action/UseAbilityOnLocation/{{player}}/20/0x0">F</a></td>
                    <td><a class="btn btn-secondary" href="/action/UseAbilityOnLocation/{{player}}/21/0x0">R</a></td>
                </tr>
                <tr>
                    <th>Level Ability</th>
                    <td><a class="btn btn-secondary" href="/action/LevelAbility/{{player}}/16">Q</a></td>
                    <td><a class="btn btn-secondary" href="/action/LevelAbility/{{player}}/17">W</a></td>
                    <td><a class="btn btn-secondary" href="/action/LevelAbility/{{player}}/18">E</a></td>
                    <td><a class="btn btn-secondary" href="/action/LevelAbility/{{player}}/19">D</a></td>
                    <td><a class="btn btn-secondary" href="/action/LevelAbility/{{player}}/20">F</a></td>
                    <td><a class="btn btn-secondary" href="/action/LevelAbility/{{player}}/21">R</a></td>
                </tr>
                <tr>
                    <th>Talents</th>
                    <td><a class="btn btn-secondary" href="/action/LevelAbility/{{player}}/24">T1</a></td>
                    <td><a class="btn btn-secondary" href="/action/LevelAbility/{{player}}/25">T2</a></td>
                    <td><a class="btn btn-secondary" href="/action/LevelAbility/{{player}}/26">T3</a></td>
                    <td><a class="btn btn-secondary" href="/action/LevelAbility/{{player}}/27">T4</a></td>
                    <td><a class="btn btn-secondary" href="/action/LevelAbility/{{player}}/28">T5</a></td>
                    <td><a class="btn btn-secondary" href="/action/LevelAbility/{{player}}/29">T6</a></td>
                    <td><a class="btn btn-secondary" href="/action/LevelAbility/{{player}}/30">T7</a></td>
                    <td><a class="btn btn-secondary" href="/action/LevelAbility/{{player}}/31">T8</a></td>
                </tr>
            </table>
        </td>
    </tr>
</table>



{% endblock %}
