{% extends "base.html" %}

{% block content %}

<div class="d-flex">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Process</th>
                <th>Last Message (s)</th>
                <th>Process Time (s)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>IPC</th>
                <td>{{ pc_recv }}</td>
                <td>{{ "%7.4f"|format(state.get('ipc_time', 0)) }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ dire_state }}</td>
                <td>{{ "%7.4f"|format(state.get('state_time', 0)) }}</td>
            </tr>
            <tr>
                <th>HTTP</th>
                <td></td>
                <td>{{ "%7.4f"|format(state.get('http_time', 0)) }}</td>
            </tr>
        </tbody>
    </table>
</div>

<br>

<div class="d-flex">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Metric</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Delay</th>
                <td>{{ "%7.4f"|format(perf.avg('delay'))  }} </td>
            </tr>
            <tr>
                <th>RCV delay (read message from socket) </th>
                <td>{{ "%7.4f"|format(perf.avg('proto_rcv'))  }} </td>
            </tr>
            <tr>
                <th>Decode delay (Proto message to Python dict)</th>
                <td>{{ "%7.4f"|format(perf.avg('proto_decode'))  }} </td>
            </tr>
            <tr>
                <th>Send delay (pickle and send through queue)</th>
                <td>{{ "%7.4f"|format(perf.avg('proto_send'))  }} </td>
            </tr>
            <tr>
                <th>Apply delay (generate intermediate tensors)</th>
                <td>{{ "%7.4f"|format(perf.avg('state_applied'))  }} </td>
            </tr>
            <tr>
                <th>Reply delay (Generate batch)</th>
                <td>{{ "%7.4f"|format(perf.avg('state_replied')) }} </td>
            </tr>
            <tr>
                <th>Acquire delay (Time waited for a new state)</th>
                <td>{{ "%7.4f"|format(perf.avg('acquire_time'))  }} </td>
            </tr>
            <tr>
                <th>Total (without delay)</th>
                <td>{{ "%7.4f"|format(perf.avg('total'))  }} </td>
            </tr>
            <tr>
                <th>Count</th>
                <td>{{ perf.count }} </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
